body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.category-page {
  padding: 20px;
  position: relative;
}

.hero-container {
  position: relative;
  text-align: center;
}

.hero-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
  margin-bottom: 20px;
  object-position: bottom;
  filter: blur(1px);
  border-radius: 10px;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  z-index: 2;
}

.category-name {
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.overlay-text {
  position: absolute;
  top: 35%; /* Adjusted this value to move the text up */
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

.overlay-text h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.breadcrumb {
  position: absolute;
  top: 60%; /* Adjust this value to move the breadcrumb down */
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.breadcrumb a {
  color: black;
  text-decoration: none;
  margin-right: 5px;
}

.breadcrumb span {
  color: black;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding-bottom: 100px; /* Add enough padding to accommodate the footer */
}

.product-card {
  border: 1px solid #eee;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
}

.product-name {
  font-size: 1.2rem;
  margin: 10px 0;
}

.product-description {
  font-size: 0.9rem;
  color: #777;
}

.product-description.collapsed {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-description.full {
  white-space: normal;
}

.read-more-button {
  background: none;
  border: none;
  color: #007BFF;
  cursor: pointer;
  margin-top: 10px;
}

.read-more-button:hover {
  text-decoration: underline;
}

.product-price {
  font-size: 1rem;
  color: #333;
  margin: 10px 0;
}

.action-buttons {
  display: flex;
  justify-content: space-around;
}

.action-button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

.action-button:hover {
  background-color: #0056b3;
}
