/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

.signup-container {
    display: flex;
    height: 100vh;
}

.signup-left, .signup-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup-left {
    background-color: #fff;
    padding: 20px;
}

.signup-right {
    background-color: #a8a379;
    color: #fff;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.signup-header {
    text-align: center;
}

.signup-header h1 {
    margin-bottom: 10px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.signup-form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.checkbox-container label {
    margin-left: 5px;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}

.signupButton {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signupButton:hover {
    background-color: #333;
}

.signup-alternatives {
    text-align: center;
    margin: 20px 0;
}

.signup-alternatives span {
    display: block;
    margin-bottom: 10px;
}

.google-signup, .facebook-signup {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
}

.google-signup {
    background-color: #db4437;
    color: #fff;
}

.facebook-signup {
    background-color: #3b5998;
    color: #fff;
}

.icon {
    margin-right: 10px;
}

.login-link {
    text-align: center;
    margin-top: 10px;
}

.login-link p {
    margin: 0;
}

.right-content {
    text-align: center;
}

.right-image {
    max-width: 100%;
    border-radius: 10px;
}
